<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="<%=baseurl%>vendors/layui-treetable/layui/css/layui.css?version=<%=version%>"
        media="all" />
    <link rel="stylesheet" type="text/css" href="<%=baseurl%>templates/template1/css/common.css?version=<%=version%>" media="all"
    />
    <script type="text/javascript" src="<%=baseurl%>vendors/layui-treetable/layui/layui.js?version=<%=version%>"></script>
    <script type="text/javascript" src="<%=baseurl%>vendors/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="<%=baseurl%>vendors/kxbd-marquee/jquery.kxbdmarquee.js"></script>
    <title></title>
</head>

<body>
    <!-- 头部栏 -->
    <div class="layui-row top-bar">
        <div>
            <span>服务热线：400-000-000</span>
            <span>Email：xx@xx.com</span>
        </div>
    </div>

    <!-- 导航条 -->
    <div class="layui-row row-center">
        <div class="layui-col-md4" style="overflow: hidden">
            <!-- LOGO -->
            <div class="logo">
                <img src="http://y.hy755.cn/7344/diy/pics/20170722/1500708808.png" border="0" width="100%">
            </div>
        </div>
        <div class="layui-col-md8">
            <div style="height: 60px">
                <!-- 选项卡 -->
                <ul class="header-nav">
                    <li class="active ">
                        <a href="http://www.changfangce.com/ " class="list " title="网站首页 ">网站首页</a>
                    </li>
                    <li>
                        <a href="http://www.changfangce.com/ " class="list " title="关于我们 ">关于我们</a>
                    </li>
                    <li>
                        <a href="http://www.changfangce.com/ " class="list " title="新闻动态 ">新闻动态</a>
                    </li>
                    <li>
                        <a href="http://www.changfangce.com/ " class="list " title="产品中心 ">产品中心</a>
                    </li>
                    <li>
                        <a href="http://www.changfangce.com/ " class="list " title="招贤纳士 ">招贤纳士</a>
                    </li>
                    <li>
                        <a href="http://www.changfangce.com/ " class="list " title="招贤纳士 ">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 欢迎栏 -->
    <div class="layui-row">
        <div class="welcome" style="background-image:url(http://y.hy755.cn/7344/diy/pics/20170722/1500708981.jpg)">
            <div style="position: relative; padding-top: 80px">
                <span class="big">科技铸造未来</span>
            </div>
            <div style="position: relative; padding-top: 10px">
                <span>Technology to create the future, let us work together</span>
            </div>
            <div style="position: relative; padding-top: 100px">
                <button class="layui-btn layui-btn-lg layui-btn-radius">
                    <span>产品中心</span>
                </button>
            </div>
        </div>
    </div>

    <!-- 公司简介 -->
    <div class="layui-row row-center chapter">
        <div class="layui-row logo">
            <img src="http://y.hy755.cn/7344/diy/pics/20170722/1500709774.png" border="0">
        </div>
        <div class="layui-row">
            <div class="layui-col-md8">
                <div>
                    <p>
                        <span class="text">&nbsp;&nbsp; 某某机械有限公司，成立于2008年，我公司为各行各业提供专业的it技术服务，经过3年多的努力与发展，已具一定的规模及实力，现拥有一支技术精湛的it服务团队，以卓越的服务品质、专业安全的技术服务实力，为不同群体的用户提供更高更优质的it服务。</span>
                    </p>
                    <p>
                        <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 我们的服务项目:企业电脑外包维护，电脑维修上门维修，电脑组装配件销售，网络工程综合布线，监控安装及维修，专业数据恢复，服务器局域网组建，打印机传真机维修，中小企业网站建设等多种it服务一体化公司。</span>
                    </p>
                    <p>
                        <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 24小时服务:为了支持客户的工作及日常运用，瑞宝电脑运用最先进的技术24小时为用户服务，并免费提供远程协助，电话支持。</span>
                    </p>
                    <p>
                        <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 我们的理念:“诚信为本、实力为先，全心全意为客户”，我们公司秉承客户至上、服务至上的经营理念，以卓越的it服务品质、专业的技术服务实力、技术精湛的客户服务团队，保障客户在信息时代的高速路上驰骋，又以稳固、发展、忠诚、高效、团结与创新的精神，尊重人才注重技术，使客户在享受信息科技发展最新成果的同时不断获得最大的收益。</span>
                    </p>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="pic">
                    <img src="http://y.hy755.cn/7344/diy/pics/20170722/1500709847.jpg" border="0" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- 产品中心 -->
    <div class="layui-row row-center chapter chapter-dark">
        <div class="layui-row logo">
            <img src="http://y.hy755.cn/7344/diy/pics/20170722/1500709954.png" border="0">
        </div>
        <div class="layui-row">
            <div class="layui-col-md8">
                <div>
                    <p>
                        <span class="text">&nbsp;&nbsp; 某某机械有限公司，成立于2008年，我公司为各行各业提供专业的it技术服务，经过3年多的努力与发展，已具一定的规模及实力，现拥有一支技术精湛的it服务团队，以卓越的服务品质、专业安全的技术服务实力，为不同群体的用户提供更高更优质的it服务。</span>
                    </p>
                    <p>
                        <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 我们的服务项目:企业电脑外包维护，电脑维修上门维修，电脑组装配件销售，网络工程综合布线，监控安装及维修，专业数据恢复，服务器局域网组建，打印机传真机维修，中小企业网站建设等多种it服务一体化公司。</span>
                    </p>
                    <p>
                        <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 24小时服务:为了支持客户的工作及日常运用，瑞宝电脑运用最先进的技术24小时为用户服务，并免费提供远程协助，电话支持。</span>
                    </p>
                    <p>
                        <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 我们的理念:“诚信为本、实力为先，全心全意为客户”，我们公司秉承客户至上、服务至上的经营理念，以卓越的it服务品质、专业的技术服务实力、技术精湛的客户服务团队，保障客户在信息时代的高速路上驰骋，又以稳固、发展、忠诚、高效、团结与创新的精神，尊重人才注重技术，使客户在享受信息科技发展最新成果的同时不断获得最大的收益。</span>
                    </p>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="pic">
                    <img src="http://y.hy755.cn/7344/diy/pics/20170722/1500709847.jpg" border="0" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- 新闻中心 -->
    <div class="layui-row row-center chapter">
        <div class="layui-row logo">
            <img src="http://y.hy755.cn/7344/diy/pics/20170722/1500709954.png" border="0">
        </div>
        <div class="layui-row">
            <div class="layui-col-md8">
                <div>
                    <p>
                        <span class="text">&nbsp;&nbsp; 某某机械有限公司，成立于2008年，我公司为各行各业提供专业的it技术服务，经过3年多的努力与发展，已具一定的规模及实力，现拥有一支技术精湛的it服务团队，以卓越的服务品质、专业安全的技术服务实力，为不同群体的用户提供更高更优质的it服务。</span>
                    </p>
                    <p>
                        <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 我们的服务项目:企业电脑外包维护，电脑维修上门维修，电脑组装配件销售，网络工程综合布线，监控安装及维修，专业数据恢复，服务器局域网组建，打印机传真机维修，中小企业网站建设等多种it服务一体化公司。</span>
                    </p>
                    <p>
                        <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 24小时服务:为了支持客户的工作及日常运用，瑞宝电脑运用最先进的技术24小时为用户服务，并免费提供远程协助，电话支持。</span>
                    </p>
                    <p>
                        <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 我们的理念:“诚信为本、实力为先，全心全意为客户”，我们公司秉承客户至上、服务至上的经营理念，以卓越的it服务品质、专业的技术服务实力、技术精湛的客户服务团队，保障客户在信息时代的高速路上驰骋，又以稳固、发展、忠诚、高效、团结与创新的精神，尊重人才注重技术，使客户在享受信息科技发展最新成果的同时不断获得最大的收益。</span>
                    </p>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="pic">
                    <img src="http://y.hy755.cn/7344/diy/pics/20170722/1500709847.jpg" border="0" width="100%">
                </div>
            </div>
        </div>
    </div>

    <!-- 荣誉资质 -->
    <div class="layui-row row-center chapter">
        <div class="layui-row logo">
            <img src="http://y.hy755.cn/7344/diy/pics/20170722/1500710434.png" border="0">
        </div>
        <div class="layui-row">
            <div id="marquee1" class="marquee" style="height: 230px">
                <ul>
                    <li>
                        <img src="http://y.hy755.cn/7344/product/pics/20170722/1500710684.jpg" border="0" width="260px" height="230px">
                    </li>
                    <li>
                        <img src="http://y.hy755.cn/7344/product/pics/20170722/1500710674.jpg" border="0" width="260px" height="230px">
                    </li>
                    <li>
                        <img src="http://y.hy755.cn/7344/product/pics/20170722/1500710715.jpg" border="0" width="260px" height="230px">
                    </li>
                    <li>
                        <img src="http://y.hy755.cn/7344/product/pics/20170722/1500710653.jpg" border="0" width="260px" height="230px">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 底部栏 -->
    <div class="layui-row bottom-bar">
        <div class="barcode ">
            <img src="http://y.hy755.cn/7344/diy/pics/20170722/1500710925.png" border="0 " width="100% ">
        </div>
        <div style="position: relative; padding-top: 60px">
            <span class="company-name ">国化智能有限公司</span>
        </div>
        <div style="position: relative; padding-top: 20px">
            <span>服务热线：400-000-000</span>
            <span>Email：xx@xx.com</span>
            <span>地址：xx街xx号</span>
        </div>
        <div style="position: relative;">
            <span>copyright @xxx.com</span>
            <span>京CP证xxxxxx号</span>
            <span>京公安网备xxxxxxxxxx号</span>
        </div>
    </div>

    <!-- 脚本 -->
    <script type="text/javascript">
        layui.use([], function () {
            $('#marquee1').kxbdMarquee();
        });
    </script>
</body>

</html>