html,
body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.row-center {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* 头部栏 */

.top-bar {
    background-color: #1c4587;
    min-height: 10px;
    height: 40px;
}

.top-bar div {
    top: 10px;
    text-align: right;
    position: relative;
}

.top-bar div span {
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    margin-right: 40px;
}

/* 底部栏 */

.bottom-bar {
    background-color: #1c4587;
    width: 100%;
    min-height: 10px;
    height: 200px;
    position: relative;
}

.bottom-bar div {
    width: 100%;
    text-align: center;
}

.bottom-bar div span.company-name {
    color: #ffffff;
    font-size: 22px;
    line-height: 30px;
}

.bottom-bar div span {
    color: #cccccc;
    font-size: 13px;
    line-height: 18px;
    margin-right: 20px;
}

.bottom-bar div.barcode {
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
}

/* LOGO */

.logo {
    width: 320px;
    height: 64px;
    margin: 10px 10px 10px 10px
}

/* 导航条 */

.header-nav {
    display: table;
    height: 40px;
    border-collapse: collapse;
    margin: 20px 0 10px 0
}

.header-nav li {
    border: 0;
    background-color: #ffffff;
    text-align: center;
    width: 130px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    display: table-cell;
}

.header-nav li.active {
    background-color: #2f5d9b;
    color: #ffffff;
}

.header-nav li.active a:hover,
.header-nav li.active a {
    color: #ffffff;
    background-color: #2f5d9b;
}

.header-nav li:first-child {
    width: 130px;
}

.header-nav li .list {
    width: 100%;
    display: inline-block;
    color: #1D1D1D;
}

.header-nav li .list:hover {
    color: #ffffff;
    background-color: #2f5d9b;
}

/* 欢迎栏 */

.welcome {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.welcome div {
    width: 100%;
    text-align: center;
}

.welcome div span.big {
    color: #ffffff;
    font-size: 40px;
    line-height: 50px;
}

.welcome div span {
    color: #ffffff;
    font-size: 22px;
    line-height: 30px;
}

.welcome div button span {
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
}

/* 章节 */

.chapter {
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
}

.chapter-dark {
    background-color: #f7f7f7;
}

.chapter div.logo {
    width: 100%;
    text-align: center;
}

.chapter span.text {
    font-size: 16px;
    line-height: 32px;
    color: #434343;
    background-color: #FFFFFF;
}

.chapter div.pic {
    width: 100%;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

/* 跑马灯 */

.marquee {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.marquee ul {
    list-style: none;
}

.marquee ul li {
    float: left;
    padding: 10px 20px;
}

.marquee ul li img {
    display: block;
}

/* 栏目 */

.tabhost {
    text-align: center !important;
}

.tabhost span {
    font-size: 18px;
}

/* 招聘文本 */

.job {
    background-color: #ffffff;
}

.job p {
    font-size: 15px;
    line-height: 27px;
    color: #434343;
}

.job span.title {
    font-size: 20px;
    line-height: 60px;
    color: #434343;
}

.job span {
    font-size: 15px;
    line-height: 27px;
    color: #434343;
}

/* 产品列表 */

.product {
    display: inline-block;
    margin: 30px;
    text-align: center;
}

.product div.icon {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    height: 200px;
    border: 1px #cccccc solid;
}

.product img {
    width: 150px;
}

.product a {
    font-size: 14px;
}

/* 详情 */

.detail {
    padding: 10px 10px 10px 10px;
}

.detail div {
    font-size: 24px;
    margin-top: 20px;
}

.detail div.title {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

.detail span.content {
    font-size: 18px;
}

.detail .product {
    display: inline-block;
    margin-left: 30px;
    margin-top: 0px;
    text-align: center;
}

.detail .product div.icon {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    height: 400px;
    border: 1px #cccccc solid;
}

.detail .product img {
    width: 300px;
}

.detail .product a {
    font-size: 14px;
}

/* 联系方式 */

.contact {
    font-size: 18px;
    line-height: 36px;
}

/* 瓦片 */

.tile {
    position: relative;
    width: 150px;
    height: 200px;
}

.tile:hover > .tile-secondary-content {
    opacity: 0.5;
}

.tile-primary-content {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: table;
}

.tile-primary-content div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.tile-secondary-content {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background: black;
    opacity: 0;
    display: table;
}

.tile-secondary-content div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.tile-secondary-content h2 {
    font-size: 80px;
    line-height: 80px;
}